@theme {
  --animate-blob: blob 12s infinite;

  @keyframes blob {
    0% {
      transform: translate(0px, 0px) scale(1) rotate(0deg);
    }
    12% {
      transform: translate(40px, -30px) scale(1.15) rotate(15deg);
    }
    25% {
      transform: translate(60px, -60px) scale(0.95) rotate(-10deg);
    }
    37% {
      transform: translate(30px, -80px) scale(1.2) rotate(25deg);
    }
    50% {
      transform: translate(-20px, -50px) scale(0.85) rotate(-20deg);
    }
    62% {
      transform: translate(-50px, -20px) scale(1.1) rotate(30deg);
    }
    75% {
      transform: translate(-40px, 30px) scale(0.9) rotate(-15deg);
    }
    87% {
      transform: translate(-10px, 50px) scale(1.05) rotate(10deg);
    }
    100% {
      transform: translate(0px, 0px) scale(1) rotate(0deg);
    }
  }
}

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }

  .animation-delay-4000 {
    animation-delay: 4s;
  }

  .animation-delay-6000 {
    animation-delay: 6s;
  }
}
