html,
body {
  @apply bg-gray-100 min-h-dvh dark:bg-gray-950;
  color-scheme: light;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html.dark,
html.dark body {
  color-scheme: dark;
}

body {
  font-family: var(--font-sans);
  font-optical-sizing: auto;
}

@layer base {
  h1,
  h2,
  h3,
  h4 {
    text-wrap-style: balance;
  }

  p,
  li,
  dd,
  figcaption {
    text-wrap-style: pretty;
  }
}
