name: "integrity"

on:
  pull_request:
    paths: ["**", "!**.md"]

jobs:
  version:
    runs-on: "ubuntu-24.04"
    steps:
      - name: "Checkout repository"
        uses: "actions/checkout@v4"
        with:
          fetch-depth: 0
      - name: "Check if image version is available to publish"
        run: './bin/check_version_is_free "$(jq -r ''.version'' package.json)"'
  integrate:
    runs-on: "ubuntu-24.04"
    steps:
      - name: "Checkout repository"
        uses: "actions/checkout@v4"
      - name: "Setup Node.js"
        uses: "actions/setup-node@v4"
        with:
          node-version: "24.x"
      - name: "Install dependencies"
        run: npm ci
      - name: "Check code with linter and formatter"
        run: npm run lint
      - name: "Check TypeScript types"
        run: npm run typecheck
      - name: "Build app"
        run: npm run build
        env:
          VITE_NODE_ENV: ${{ env.VITE_NODE_ENV }}
          VITE_FLIGHT_TRACKER_API_HOST: ${{ env.VITE_FLIGHT_TRACKER_API_HOST }}
          VITE_ADSB_API_HOST: ${{ env.VITE_ADSB_API_HOST }}
          VITE_DISCORD_INVITATION_HASH: ${{ env.VITE_DISCORD_INVITATION_HASH }}
