name: "integrity"

on:
  pull_request:
    paths: ["**", "!**.md"]

jobs:
  version:
    runs-on: "ubuntu-24.04"
    steps:
      - name: "Checkout repository"
        uses: "actions/checkout@v4"
        with:
          fetch-depth: 0
      - name: "Check if image version is available to publish"
        run: './bin/check_version_is_free "$(jq -r ''.version'' package.json)"'
  integrate:
    runs-on: "ubuntu-24.04"
    steps:
      - name: "Checkout repository"
        uses: "actions/checkout@v4"
      - name: "Setup Node.js"
        uses: "actions/setup-node@v4"
        with:
          node-version: "24.x"
      - name: "Install dependencies"
        run: npm ci
      - name: "Check code with linter and formatter"
        run: npm run lint
      - name: "Check TypeScript types"
        run: npm run typecheck
      - name: "Build app"
        run: npm run build --if-present

  build:
    runs-on: "ubuntu-24.04"
    steps:
      - name: "Checkout"
        uses: "actions/checkout@v4"
      - name: "Setup Node"
        uses: "actions/setup-node@v4"
        with:
          node-version: 20
          cache: npm
      - name: "Install dependencies"
        run: npm ci
      - name: "Build"
        run: npm run build
      - name: "Upload artifact"
        uses: "actions/upload-pages-artifact@v3"
        with:
          path: ./build/client

  deploy:
    environment:
      name: "production"
      url: ${{ steps.deployment.outputs.page_url }}
    needs: "build"
    runs-on: "ubuntu-24.04"
    steps:
      - name: "Deploy to GitHub Pages"
        id: "deployment"
        uses: "actions/deploy-pages@v4"
